    <div class="ui inverted vertical footer segment center aligned">
        <div class="ui container">
            © 2020 Copyright &nbsp; <a href="https://abusalehfaysal.github.io/">Abu Saleh Faysal</a>&nbsp;
            <a href="https://www.facebook.com/AbuSalehFaysal10" class="ui circular facebook icon button">
                <i class="facebook icon"></i>
            </a>
            <a href="https://twitter.com/AbuSalehFaysal" class="ui circular twitter icon button">
                <i class="twitter icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/abu-saleh-faysal-87380811a/" class="ui circular linkedin icon button">
                <i class="linkedin icon"></i>
            </a>
            <a href="https://github.com/AbuSalehFaysal" class="ui circular github icon button">
                <i class="github icon"></i>
            </a> 
        </div>
    </div>
</body>
</html>