<%- include('partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">
        Register as a Librerian / Student
    </div>
    <ul>
        <li>Register as a Librerian for Insert, Update, Delete, Activate and Deactivate Any Book Data</li>
        <li>Register as a Student for Request  a book or All the Books</li>
    </ul>
    <form class="ui form" action="/books/register" method="POST">
        <div class="inline fields">
            <label for="">User Type</label>
            <input type="radio" name="usertype" value="Librerian">
            <label for="">Librerian</label>
            <input type="radio" name="usertype" value="Student">
            <label for="">Student</label>
        </div>
        <div class="field">
            <label for="">Username or Email</label>
            <input name="username" type="text" name="" placeholder="Name">
        </div>
        <div class="field">
            <label for="">Password</label>
            <input name="password" type="password" name="" placeholder="Password">
        </div>
        <input class="ui secondary button" type="submit" value="SUBMIT">
    </form>
    <p>Already have an account, then <a href="/books/login">Login</a></p>
</div>
<%- include('partials/footer') %>